body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 400px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.meter {
  width: 100%;
  height: 10px;
  background: #1e293b;
  border-radius: 5px;
}

#strengthBar {
  height: 10px;
  width: 0%;
  background: red;
  border-radius: 5px;
}

.education {
  margin-top: 20px;
  font-size: 14px;
  color: #94a3b8;
}
